{:db-spec {:classname   "com.mysql.jdbc.Driver"
           :subprotocol "mysql"
           :subname     "//172.17.0.2:3306/shoppinglist"
           :user        "shoppinglist"
           :password    "shoppinglist"}}